.flows_button {
  /* border-radius: var(--flows-borderRadius-small); */
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
  /* padding: 4px 8px; */
  padding: 5px 15px;
  font-family: var(--flows-font-family);
  /* font-size: var(--flows-base-font-size); */
  font-size: 15px;
  /* line-height: var(--flows-base-line-height); */
  line-height: 24px;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
}

.flows_button_primary {
  background-color: var(--flows-bg-primary);
  /* border: var(--flows-border-primary); */
  color: var(--flows-fg-onPrimary);

  border: 1px solid #067efd;

  background-image: linear-gradient(#ffffff14, #fff0);

  box-shadow:
    inset 0 1px #ffffff1f,
    0 1px 2px #0a0d120d;
}
.flows_button_primary:hover {
  background-color: var(--flows-bg-primary-hover);
  /* border: 1px solid var(--flows-bg-primary-hover); */
}

.flows_button_secondary {
  background-color: var(--flows-bg-subtle);
  border: var(--flows-border-strong);
  color: var(--flows-fg-default);

  box-shadow:
    inset 0 -2px 0 0 #fafafa,
    0 1px 2px 0 #0a0d120d;
}
.flows_button_secondary:hover {
  background-color: var(--flows-bg-hover);
  border: var(--flows-border-strong-hover);
}
