.flows_basicsV2_button {
  border-radius: var(--flows-basicsV2-borderRadius-m);
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
  padding: 5px 15px;
  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-button-font-size);
  line-height: var(--flows-basicsV2-button-line-height);
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
}

.flows_basicsV2_button_primary {
  background-color: var(--flows-basicsV2-bg-primary);
  border: var(--flows-basicsV2-border-primary);
  color: var(--flows-basicsV2-fg-onPrimary);
  background-image: var(--flows-basicsV2-primary-button-gradient);
  box-shadow: var(--flows-basicsV2-primary-button-shadow);
}
.flows_basicsV2_button_primary:hover {
  background-color: var(--flows-basicsV2-bg-primary-hover);
}

.flows_basicsV2_button_secondary {
  background-color: var(--flows-basicsV2-bg-subtle);
  border: var(--flows-basicsV2-border-strong);
  color: var(--flows-basicsV2-fg-default);
  box-shadow: var(--flows-basicsV2-secondary-button-shadow);
}
.flows_basicsV2_button_secondary:hover {
  background-color: var(--flows-basicsV2-bg-hover);
  border: var(--flows-basicsV2-border-strong-hover);
}

.flows_basicsV2_button_text {
  color: var(--flows-basicsV2-fg-muted);
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}
.flows_basicsV2_button_text:hover {
  text-decoration: underline;
}

.flows_basicsV2_button_size_small {
  padding: 4px 9px;
  font-size: var(--flows-basicsV2-button-small-font-size);
  line-height: var(--flows-basicsV2-button-small-line-height);
}
