.flows_button {
  border-radius: var(--flows-borderRadius-m);
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
  padding: 5px 15px;
  font-family: var(--flows-font-family);
  font-size: var(--flows-button-font-size);
  line-height: var(--flows-button-line-height);
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
}

.flows_button_primary {
  background-color: var(--flows-bg-primary);
  border: var(--flows-border-primary);
  color: var(--flows-fg-onPrimary);
  background-image: var(--flows-primary-button-gradient);
  box-shadow: var(--flows-primary-button-shadow);
}
.flows_button_primary:hover {
  background-color: var(--flows-bg-primary-hover);
}

.flows_button_secondary {
  background-color: var(--flows-bg-subtle);
  border: var(--flows-border-strong);
  color: var(--flows-fg-default);
  box-shadow: var(--flows-secondary-button-shadow);
}
.flows_button_secondary:hover {
  background-color: var(--flows-bg-hover);
  border: var(--flows-border-strong-hover);
}
