.flows_dots {
  display: flex;
  /* gap: var(--flows-size-small); */
  gap: 6px;
  justify-content: center;
  /* margin-top: var(--flows-size-small); */
  /* margin-top: 16px; */
}

.flows_dots_dot {
  /* TODO: move to variable */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  /* background-color: var(--flows-bg-subtle); */
  background-color: #e9eaeb;
}
.flows_dots_dot_active {
  background-color: var(--flows-bg-primary);
}
