.flows_dots {
  justify-content: center;
  display: flex;
  gap: var(--flows-progress-dots-gap);
  overflow: hidden;
}

.flows_dots_dot {
  width: var(--flows-progress-dots-size);
  height: var(--flows-progress-dots-size);
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--flows-bg-strong);
}
.flows_dots_dot_active {
  background-color: var(--flows-bg-primary);
}
