.flows_hint_hotspot {
  position: absolute;
  background-color: var(--flows-bg-primary);
  border-radius: 50%;
  transition: background-color 120ms ease-in-out;
  z-index: var(--flows-zIndex);
  width: 15px;
  height: 15px;

  border: 1px solid var(--flows-bg-primary);

  background-image: linear-gradient(#ffffff14, #fff0);

  box-shadow:
    inset 0 1px #ffffff1f,
    0 1px 2px #0a0d120d;
}

.flows_hint_hotspot:hover {
  background-color: var(--flows-bg-primary-hover);
}

.flows_hint_hotspot::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--flows-bg-primary);
  animation: flows-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.flows_hint_tooltip.flows_hint_tooltip {
  transition: none;
}

.flows_hint_tooltip {
  /* Increment z-index by 1 to ensure the tooltip appears above the other hint hotspot buttons. */
  z-index: calc(var(--flows-zIndex) + 1);
}

.flows_hint_tooltip[data-open="false"] {
  animation: flows-scaleOut 150ms ease-out;
  opacity: 0;
}
