.flows_modal_overlay {
  position: fixed;
  inset: 0;
  background-color: var(--flows-modal-overlayBackground);
  pointer-events: none;
  animation: flows-fadeIn 100ms ease-out;
  z-index: var(--flows-zIndex);
}

.flows_modal_wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  padding: var(--flows-modal-padding);
  overflow: auto;
  pointer-events: none;
  z-index: var(--flows-zIndex);
}

.flows_modal_modal {
  pointer-events: auto;
  background-color: var(--flows-bg-default);
  border: var(--flows-border);
  color: var(--flows-fg-default);
  /* border-radius: var(--flows-borderRadius-medium); */
  border-radius: 16px;
  box-shadow: var(--flows-shadow-large);
  /* padding: var(--flows-modal-padding); */
  padding: 24px;
  position: relative;
  box-sizing: border-box;
  /* min-width: var(--flows-modal-minWidth);
  max-width: var(--flows-modal-maxWidth); */
  width: 100%;
  max-width: 420px;

  animation: flows-scaleIn 150ms ease-out;
}

.flows_modal_title {
  text-align: center;
  margin-bottom: 2px;
}

.flows_modal_body {
  text-align: center;
}

.flows_modal_center {
  place-self: center;
}
.flows_modal_top {
  place-self: start center;
}
.flows_modal_bottom {
  place-self: end center;
}
.flows_modal_left {
  place-self: center start;
}
.flows_modal_right {
  place-self: center end;
}
.flows_modal_top-left {
  place-self: start start;
}
.flows_modal_top-right {
  place-self: start end;
}
.flows_modal_bottom-left {
  place-self: end start;
}
.flows_modal_bottom-right {
  place-self: end end;
}

.flows_modal_footer {
  /* margin-top: var(--flows-size-medium); */
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap-reverse;
  /* gap: var(--flows-size-small); */
  gap: 12px;
}
.flows_modal_footer button,
.flows_modal_footer a {
  flex: 1;
}
.flows_modal_footer_left {
  justify-content: flex-start;
}
.flows_modal_footer_center {
  justify-content: center;
}
.flows_modal_footer_right {
  justify-content: flex-end;
}

.flows_modal_footer .flows_button {
  width: 100%;
}

.flows_modal_close {
  position: absolute;
  /* top: var(--flows-modal-padding); */
  /* right: var(--flows-modal-padding); */
  top: 20px;
  right: 20px;
}

.flows_modal_dots {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
