.flows_basicsV2_survey_popover {
  position: fixed;
  z-index: var(--flows-basicsV2-zIndex);
  background-color: var(--flows-basicsV2-bg-default);
  border: var(--flows-basicsV2-border);
  color: var(--flows-basicsV2-fg-default);
  border-radius: var(--flows-basicsV2-borderRadius-l);
  box-shadow: var(--flows-basicsV2-shadow-large);
  padding: var(--flows-basicsV2-survey-popover-padding);

  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-base-font-size);
  line-height: var(--flows-basicsV2-base-line-height);

  width: var(--flows-basicsV2-survey-popover-width);
  animation: flows-basicsV2-scaleIn 150ms ease-out;
}

.flows_basicsV2_survey_popover_title {
  /* Space between title and close button */
  margin-right: 24px;
  margin-bottom: var(--flows-basicsV2-size-xs);
}

.flows_basicsV2_survey_popover[data-position="bottom-right"] {
  right: var(--flows-basicsV2-size-l);
  bottom: var(--flows-basicsV2-size-l);
}
.flows_basicsV2_survey_popover[data-position="bottom-left"] {
  left: var(--flows-basicsV2-size-l);
  bottom: var(--flows-basicsV2-size-l);
}
.flows_basicsV2_survey_popover[data-position="top-right"] {
  right: var(--flows-basicsV2-size-l);
  top: var(--flows-basicsV2-size-l);
}
.flows_basicsV2_survey_popover[data-position="top-left"] {
  left: var(--flows-basicsV2-size-l);
  top: var(--flows-basicsV2-size-l);
}

.flows_basicsV2_survey_popover_footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--flows-basicsV2-size-s);
  margin-top: var(--flows-basicsV2-size-xl);
}

/* Freeform */

.flows_basicsV2_survey_freeform_textarea {
  display: flex;
  border: var(--flows-basicsV2-border);
  border-radius: var(--flows-basicsV2-borderRadius-m);
  padding: var(--flows-basicsV2-size-s);
  margin-top: var(--flows-basicsV2-size-m);
  width: 100%;
  transition:
    box-shadow 200ms ease-in-out,
    border-color 160ms ease-in-out;
  box-shadow: var(--flows-basicsV2-secondary-button-shadow);
}

.flows_basicsV2_survey_freeform_textarea:hover {
  border-color: var(--flows-basicsV2-border-strong);
}

.flows_basicsV2_survey_freeform_textarea:focus-visible {
  outline: 0;
  border: var(--flows-basicsV2-border-primary);
  box-shadow: var(--flows-basicsV2-textarea-focus-shadow);
}

/* Rating */

.flows_basicsV2_survey_rating_list {
  display: flex;
  /* gap: var(--flows-basicsV2-size-s); */
  margin-top: var(--flows-basicsV2-size-l);
  box-shadow: var(--flows-basicsV2-secondary-button-shadow);
}

.flows_basicsV2_survey_rating_option {
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
  padding: 5px 15px;
  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-button-font-size);
  line-height: var(--flows-basicsV2-button-line-height);
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  background-color: var(--flows-basicsV2-bg-subtle);
  border: var(--flows-basicsV2-border-strong);
  border-left-width: 0;
  color: var(--flows-basicsV2-fg-default);
  flex: 1;
}

.flows_basicsV2_survey_rating_option:hover {
  background-color: var(--flows-basicsV2-bg-hover);
}

.flows_basicsV2_survey_rating_option:first-child {
  border-left-width: 1px;
  border-top-left-radius: var(--flows-basicsV2-borderRadius-m);
  border-bottom-left-radius: var(--flows-basicsV2-borderRadius-m);
}

.flows_basicsV2_survey_rating_option:last-child {
  border-top-right-radius: var(--flows-basicsV2-borderRadius-m);
  border-bottom-right-radius: var(--flows-basicsV2-borderRadius-m);
}

.flows_basicsV2_survey_rating_option[data-selected="true"] {
  /* TODO: make the bg stronger */
  background-color: var(--flows-basicsV2-bg-strong);
}

.flows_basicsV2_survey_bound_labels {
  display: flex;
  justify-content: space-between;
  margin-top: var(--flows-basicsV2-size-s);
  color: var(--flows-basicsV2-fg-muted);
}

/* Choice lists */

.flows_basicsV2_survey_option_list {
  display: flex;
  flex-direction: column;
  gap: var(--flows-basicsV2-size-s);
  margin-top: var(--flows-basicsV2-size-l);
}

.flows_basicsV2_survey_option {
  display: flex;
  align-items: center;
  gap: var(--flows-basicsV2-size-s);
  border: var(--flows-basicsV2-border);
  padding: var(--flows-basicsV2-size-s);
}

/* Single / Multi choice */

.flows_basicsV2_survey_popover_choice_option {
  border-radius: var(--flows-basicsV2-borderRadius-m);
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
  padding: 5px 15px;
  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-button-font-size);
  line-height: var(--flows-basicsV2-button-line-height);
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  appearance: button;
  background-color: var(--flows-basicsV2-bg-subtle);
  border: var(--flows-basicsV2-border-strong);
  color: var(--flows-basicsV2-fg-default);
  box-shadow: var(--flows-basicsV2-secondary-button-shadow);
}

.flows_basicsV2_survey_popover_choice_option[data-selected="true"] {
  background-color: var(--flows-basicsV2-bg-strong);
  border: var(--flows-basicsV2-border-primary);
}

.flows_basicsV2_survey_popover_choice_option:hover {
  background-color: var(--flows-basicsV2-bg-hover);
  border: var(--flows-basicsV2-border-strong-hover);
}

.flows_basicsV2_survey_popover_choice_option[data-selected="true"]:hover {
  background-color: var(--flows-basicsV2-bg-strong);
  border: var(--flows-basicsV2-border-primary);
}

/* Other choice */
.flows_basicsV2_survey_popover_open_option {
  border-radius: var(--flows-basicsV2-borderRadius-m);
  cursor: pointer;
  transition:
    background-color 120ms ease-in-out,
    border-color 120ms ease-in-out;
  padding: 5px 15px;
  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-button-font-size);
  line-height: var(--flows-basicsV2-button-line-height);
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  appearance: button;
  background-color: var(--flows-basicsV2-bg-subtle);
  border: var(--flows-basicsV2-border-strong);
  color: var(--flows-basicsV2-fg-default);
  box-shadow: var(--flows-basicsV2-secondary-button-shadow);
}

.flows_basicsV2_survey_popover_open_option[data-selected="true"] {
  background-color: var(--flows-basicsV2-bg-strong);
  border: var(--flows-basicsV2-border-primary);
  padding: 0;
}

.flows_basicsV2_survey_popover_open_option:hover {
  background-color: var(--flows-basicsV2-bg-hover);
  border: var(--flows-basicsV2-border-strong-hover);
}

.flows_basicsV2_survey_popover_open_option[data-selected="true"]:hover {
  background-color: var(--flows-basicsV2-bg-strong);
  border: var(--flows-basicsV2-border-primary);
}

.flows_basicsV2_survey_open_option_input {
  width: 100%;
  border: none;
  border-radius: var(--flows-basicsV2-borderRadius-m);
  padding: var(--flows-basicsV2-size-s);
  background-color: unset;

  padding: 5px 12px;
  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-button-font-size);
  line-height: var(--flows-basicsV2-button-line-height);
}

.flows_basicsV2_survey_open_option_input:focus-visible {
  outline: 0;
}

/* Link */

.flows_basicsV2_survey_popover_link_button {
  width: 100%;
  margin-top: var(--flows-basicsV2-size-l);
}

/* Submit */

.flows_basicsV2_survey_popover_submit {
  width: 100%;
}
