.flows_basicsV2_tooltip_root {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: var(--flows-basicsV2-zIndex);
}

.flows_basicsV2_tooltip_overlay {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  animation: flows-basicsV2-fadeIn 100ms ease-out;
}
.flows_basicsV2_tooltip_overlay:after {
  content: "";
  position: absolute;
  inset: 0;
  margin: calc(var(--flows-basicsV2-tooltip-overlayPadding) * -1);
  box-shadow: var(--flows-basicsV2-tooltip-overlayBackground) 0px 0px 0px 9999px;
  border-radius: var(--flows-basicsV2-tooltip-overlayBorderRadius);
}

.flows_basicsV2_tooltip_tooltip {
  background-color: var(--flows-basicsV2-bg-default);
  border: var(--flows-basicsV2-border);
  color: var(--flows-basicsV2-fg-default);
  border-radius: var(--flows-basicsV2-borderRadius-l);
  position: absolute;
  padding: var(--flows-basicsV2-tooltip-padding);

  font-family: var(--flows-basicsV2-font-family);
  font-size: var(--flows-basicsV2-base-font-size);
  line-height: var(--flows-basicsV2-base-line-height);

  box-sizing: border-box;
  min-width: var(--flows-basicsV2-tooltip-minWidth);
  max-width: min(var(--flows-basicsV2-tooltip-maxWidth), calc(100% - 16px));
  animation: flows-basicsV2-scaleIn 150ms ease-out;
}
.flows_basicsV2_tooltip_tooltip[data-open="true"] {
  transition: all 150ms ease-out;
}
.flows_basicsV2_tooltip_tooltip:before {
  box-shadow: var(--flows-basicsV2-shadow);
  border-radius: var(--flows-basicsV2-borderRadius-l);
  content: "";
  position: absolute;
  inset: calc(var(--flows-basicsV2-borderWidth) * -1);
  z-index: -1;
  pointer-events: none;
}

.flows_basicsV2_tooltip_title {
  /* Space between title and close button */
  margin-right: 24px;
  margin-bottom: var(--flows-basicsV2-size-xs);
}

.flows_basicsV2_tooltip_arrow {
  position: absolute;
  width: var(--flows-basicsV2-size-l);
  height: var(--flows-basicsV2-size-l);
  transform: rotate(45deg);
  border-radius: var(--flows-basicsV2-borderRadius-xs);
}
.flows_basicsV2_tooltip_tooltip[data-open="false"] .flows_basicsV2_tooltip_arrow {
  border-color: var(--flows-basicsV2-bg-default);
  box-shadow: none;
}
.flows_basicsV2_tooltip_arrow-bottom {
  border: var(--flows-basicsV2-border);
  z-index: -1;
  box-shadow: var(--flows-basicsV2-shadow);
}
.flows_basicsV2_tooltip_arrow-top {
  background-color: var(--flows-basicsV2-bg-default);
  border: var(--flows-basicsV2-border);
  border-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.flows_basicsV2_tooltip_footer {
  margin-top: var(--flows-basicsV2-size-l);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--flows-basicsV2-size-s);
  row-gap: var(--flows-basicsV2-size-l);
}

.flows_basicsV2_tooltip_buttons_wrapper {
  flex: 1;
  flex-basis: auto;
  display: flex;
  justify-content: flex-end;
}

.flows_basicsV2_tooltip_buttons {
  display: flex;
  gap: var(--flows-basicsV2-size-s);
  flex-wrap: wrap-reverse;
}

.flows_basicsV2_tooltip_buttons button,
.flows_basicsV2_modal_footer a {
  flex: 1;
}

.flows_basicsV2_tooltip_close {
  position: absolute;
  top: var(--flows-basicsV2-tooltip-padding);
  right: var(--flows-basicsV2-tooltip-padding);
}
