name: Create GitHub Release

on:
  push:
    tags:
      - "@flows/**"

permissions:
  contents: write

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          generate_release_notes: false
          prerelease: ${{ contains(github.ref, 'canary') }}
