name: Release

run-name: "Release @flows/${{ github.event.inputs.package }}@${{ github.event.inputs.type }}"

on:
  workflow_dispatch:
    inputs:
      type:
        description: "Release type"
        required: true
        type: choice
        options:
          - canary
          - patch
          - minor
          - major
      package:
        description: "Package"
        required: true
        type: choice
        options:
          - react
          - react-components
          - js
          - js-components

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: 906021
          private-key: ${{ secrets.FLOWS_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
          # Make sure the value of GITHUB_TOKEN will not be persisted in repo's config
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
      - run: git remote set-url origin https://flows-bot[bot]:${{ steps.app-token.outputs.token }}@github.com/${{ github.repository }}
      - run: git config user.name "flows-bot[bot]"
      - run: git config user.email "170794745+flows-bot[bot]@users.noreply.github.com"
      - run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
      - run: pnpm install
      - run: node scripts/release.js --release=${{ github.event.inputs.type }} --package=${{ github.event.inputs.package }}
